body{
    background-color: aquamarine;
    
    /* text-align: center; */
}
div{background-color: antiquewhite ;
    width:300px ;
  height: 550px;
   margin: auto;
   
   border-radius: 10px;

 
}

h2{ color: rgb(6, 6, 6);
    margin-left: 10px;
    }
    p{
        color: rgb(79, 71, 71);
        margin: 10px;

    }
    label{margin: 10px;}
input.bharat{
    width: 280px;
}
input.fray{width: 280px;}
    input{ margin: 10px;
        /* width: 280px; */
        color: rgb(69, 66, 66);
    }
    input.solid{width: 280PX;
               background-color: darkgreen;
            color: black;}
    .solid{
        text-align: center;
        color: black;
    }
    .ststem{
        width: 70px;
        background-color: rgb(85, 75, 75);
        color: black;
    }
    .secure{
        color: rgb(23, 102, 3);
        font-size: 20px;
    }